/* Utils
   ========================================================================== */

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

/* Typography
   ========================================================================== */

@font-face {
	font-family: "OpenSans";
	src: url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"),
		url("../assets/fonts/OpenSans-Regular.woff") format("woff"),
		url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: "OpenSans";
	src: url("../assets/fonts/OpenSans-Bold.woff2") format("woff2"),
		url("../assets/fonts/OpenSans-Bold.woff") format("woff"),
		url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
	font-display: swap;
	font-weight: 700;
}

html {
	font-size: 12px;
	color: #484848;
	font-family: "OpenSans", sans-serif;
}

@media (min-width: 768px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 16px;
	}
}